body
  {
    background-image: url('blue_whale_with_calf.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
#logo
  {
    width: 50px;
    height: 50px;
  }
h1
  {
    text-align:center;
    font-size:300%;
  }
.textColor
  {
    color: white;
  }
.cardColor
  {
    color:rgb(51, 175, 255);
  }
.myCarousel
  {
    width:800px;
    height:600px;
  }
.card
  {
    margin:10px;
  }
iframe
  {
    width:100%;
    min-height:600px;
  }
button
  {
    color:rgb(51, 175, 255);
    background-color: navy;
  }
